.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: black;
}
.header-right {
  nav {
    display: flex;
    gap: 1.5rem;

    a {
      gap: 0.5rem;

      &:hover {
        color: #4287f5;
      }
    }
    .active {
      color: #4287f5;
    }
  }
}
